.gameDetails_mainContainer {
  height: 600px;
  width: 350px;
  margin: 0 15px;
}

.rules_container {
  height: 83.333333%;
  background-color: #3BC68D;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow-y: auto;
  padding: 0px 20px ;
}

.rules_container::-webkit-scrollbar {
  width: 4px;
}
 
.rules_container::-webkit-scrollbar-track {
 background: transparent;
}
 
.rules_container::-webkit-scrollbar-thumb {
   background: white;
 }

@media screen and (max-width: 760px) {
  .main_container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .main_container {
    margin-left: 40px;
  }
}