@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Rajdhani"),
    url(./fonts/Rajdhani/Rajdhani-Medium.ttf) format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rajdhani;
  background-color: #34d399;
  color: white;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

