.homePage_mainContainer {
  display: flex;
  justify-content: center;
  margin: 0px 300px;
}

@media screen and (max-width: 700px) {
  .homePage_mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}